<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Error - TinyApp</title>
</head>
<body>
  <header>
      <% include partials/_header.ejs %>
  </header>
  <main>
    <img class="rounded mx-auto d-block" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5e8e9175112191.5c43990f2111e.gif">
  </main>